
body{
    background-color: gray;
}
h4{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 14px;
}
.afaire{
    color: black!important;
}
.archive{
    text-decoration: line-through;
    color: green !important;
}
.content1{
    border: 1px solid black;
    width: 300px;
    height: 500px;
    background-color: antiquewhite;

}
.liststyle{
    list-style: none;
}
.form{
    border: 1px solid black;
}
.plest{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}